@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&family=Josefin+Sans&family=Montserrat:wght@500&family=Scada&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
/*<<<<<<<<<<<<<<<<<< navbar start >>>>>>>>>>>>>>>>>>>>*/
.navabar-logo-text span{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}
.navabar-logo-text small{
    font-size: 25px;
    color: #f9004d;
}
.navbar-collapse ul{
    margin-left: 100px;
}
.navbar-collapse ul li{
    margin: 0px 20px;
}
.navbar-collapse ul li .nav-link {
    color: #fff !important;
}
.navbar-collapse ul li .nav-link:hover {
    color: #f9004d !important;
    border-bottom: 2px solid #f9004d;
}
.navbar-btn{
    background-color: #f9004d;
    color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
    margin-left: 100px;
    transition: .6s all;
}
.navbar-btn:hover{
    border: 1px solid #f9004d;
    color: #f9004d;
}
/*<<<<<<<<<<<<<< navbar end >>>>>>>>>>>>>>>>*/
/* ======================================================================================================================= */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< index page start here >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<<<<<<<<<<<< header sacion start here >>>>>>>>>>>>>> */
.indexh-main-cont{
    background-image: linear-gradient(#0c333cb6, #0c333cb6),url(../img/index-bg.jpg);
    background-size: cover;
}
.indexh-inner-col-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.indexh-inner-col-2{
    text-align: center;
    box-shadow: 5px 5px 15px #000000b0;
    padding: 70px 15px;
    margin: 100px 0px;
}
.indexh-span-1{
    color: #fff;
    font-size: 40px;
}
.indexh-span-2{
    font-size: 15px;
    color: #fff;
}
.indexh-inner-btn{
    border-radius: 30px;
    color: #fff;
    background-color: #f9004d;
    padding: 10px 30px;
    margin-top: 20px;
    transition: .6s all;
}
.indexh-inner-btn:hover{
    font-size: 18px;
    font-weight: 600;
    padding: 15px 50px;
    color: #f9004d;
    border: 1px solid #f9004d;
}
/* <<<<<<<<<<<<<<<<<<<<<< header saction end here >>>>>>>>>>>>>>>>>> */
/* slider saction start here */
.index-slider-cont{
    padding: 100px 0px;
    background-color: #0c333c;
}
.indexs-col-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.indexs-col-2{
    border-radius: 5px;
    margin: 50px 0px;
    text-align: center;
    background-image: linear-gradient(#0c333cb4, #0c333cb4), url(../img/index-bg.jpg);
    background-size: cover;
}
#carouselExampleIndicators{
    box-shadow: 5px 5px 15px #00000094;
}
.indexs-col-3{
    padding: 30px 10px;
}
.indexs-span-1{
    color: #f9004d;
    font-size: 50px;
}
.indexs-span-1-1{
    color: #fff;
}
.indexs-span-2{
    color: #fff;
}
.indexs-span-3{
    color: #fff;
    font-size: 25px;
}
.indexs-span-3-1{
    color: #f9004d;
}
/* slider saction end here */


/* provide mobile saction satart here */
.indexp-cont{
    background-image: linear-gradient(#0c333cb6, #0c333cb6),url(../img/index-bg.jpg);
    background-size: cover;
}
.indexp-col-1{
    text-align: center;
    background-color: #f9004d;
}
.indexp-span-1{
    color: #fff;
    font-size: 40px;
}
.indexp-span-1-1{
    color: #0c333c  ;
}
.indexp-col-2{
    padding: 60px 20px;
}
.indexp-span-2{
    color: #fff;
    margin-top: 30px;
}
.indexp-inner-col-img1{
    background-image: url(../img/pmi-1.webp);
    background-size: cover;
}
.indexp-inner-col-img2{
    background-image: url(../img/pmi-2.webp);
    background-size: cover;
}
.indexp-inner-col-img3{
    background-image: url(../img/pmi-3.jpg);
    background-size: cover;
}
.indexp-inner-col-img4{
    background-image: url(../img/pmi-4.jpg);
    background-size: cover;
}
.indexp-inner-col-img5{
    background-image: url(../img/pmi-5.jpg);
    background-size: cover;
}
.indexp-inner-col-img6{
    background-image: url(../img/pmi-6.jpg);
    background-size: cover;
}
.indexp-inner-col-imgp{
    padding: 110px 0px;
}
.indexp-span-3, .indexp-span-4{
    color: #0c333c;
    font-weight: 700;
}
/* provide mobile saction end here */


/* card saction start here */
.index-card-cont{
    background-color: #0c333c;
    padding-bottom: 60px;
}
.indexc-col-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.indexc-col-2{
    margin-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}
.indexc-span-1{
    font-size: 40px;
    color: #fff;
}
.indexc-span-1-1{
    color: #f9004d;
}
/* ============================== */
.blog-pag-carrd-v2 {
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    /* background: #000; */
    margin-top: 150px;
    border-radius: 25px;
  }
  
  .blog-pag-carrd-v2 .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 25px;
  }
  
  .blog-pag-carrd-v2 .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 25px;
  }
  
  .blog-pag-carrd-v2:hover .image img {
    opacity: 0.5;
    transform: translateX(30%);
    /*100%*/
  }
  
  .blog-pag-carrd-v2 .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: white;
    transition: 0.5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
  }
  
  .blog-pag-carrd-v2:hover .details {
    transform: perspective(2000px) rotateY(0deg);
  }
  
  .blog-pag-carrd-v2 .details .center {
    padding: 20px;
    background: #0c333c;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .blog-pag-carrd-v2 .details .center h1 {
    margin: 0;
    padding: 0;
    color: #f9004d;
    line-height: 20px;
    font-size: 25px;
  }
  
  .blog-pag-carrd-v2 .details .center h1 span {
    font-size: 14px;
    color: #f9004d;
  }
  
  .blog-pag-carrd-v2 .details .center p {
    margin: 10px 0;
    padding: 0;
    color: #fff;
    font-size: 13px;
    font-weight: 200 !important;
  } 
  .fw-bold{
    color: #fff;
  }
  .indexc-col-3 a{
    text-decoration: none;
  }
  /* ========================= */
/* card saction end here */


/* main footer saction start here */
.indexf-cont{
    background-color: #032229;
}
.indexf-row-1{
    padding: 60px 0px;
}

.indexf-span-1{
    color: #fff;
    font-size: 50px;
}

.indexf-small{
    color: #f9004d;
    font-size: 25px;
}
.indexf-span-2{
    color: #fff;
    font-size: 12px;
}
.indexf-span-3, .indexf-span-4{
    color: #f9004d;
}
.indexf-col-4 a{
    text-decoration: none;
    color: #fff;
}
.indexf-col-4 a:hover{
    color: #f9004d;
    border-bottom: 2px solid #f9004d;
}
.indexf-span-5{
    font-size: 50px;
    color: #fff;
}
.indexf-col-5{
    padding-top: 0px;
}
.indexf-col-5-1{
    padding: 5px 0px;
}
.indexf-icons{
    font-size: 25px;
}
.indexf-col-6{
    margin-top: 40px;
}
.indexf-col-6 a{
    color: #fff;
}
.indexf-col-6-1 i{
    font-size: 25px;
}
.indexf-col-6-1 i:hover{
    color: #f9004d;
}
.indexf-col-6-1 .bi-youtube{
    font-size: 30px;
}
.indexf-col-6-1 .bi-youtube, .indexf-col-6-1 .bi-instagram, .indexf-col-6-1 .bi-twitter{
    margin-left: 20px;
}
.indexf-span-6{
    font-size: 40px;
    color: #fff;
}
.indexf-span-7{
    color: #fff;
}
.indexf-col-7-1{
    margin-top: 20px;
}
.indexf-col-8{
    margin-top: 30px;
}
.indexf-col-input{
    width: 100%;
    border: none;
    padding: 8px 0px;
}
.indexf-submit-btn{
    width: 100%;
    border: none;
    margin-top: 8px;
    padding: 8px 0px;
    color: #fff;
    background-color: #f9004d;
    transition: .6s all;
}
.indexf-submit-btn:hover{
    background-color: #fff;
    color: #f9004d;
    border: 1px solid #f9004d;
}
/* main footer saction end here */
/* ======================================================================================================================= */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< index page end here >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

